@import '../../../../../../../styles/placeholder';
@import '../../../../../../../styles/tokens/colors.module';

:host{
  section {
    margin: 0;
    height: 100%;
    @extend %fullPadding;
    display: flex;
    flex-direction: column;
    gap: 12px;
    & .title-container {

    }
    & mat-chip {
      width: fit-content;
      @extend .secondary;
      ::ng-deep {
        .mdc-evolution-chip__text-label {
          @extend .on-primary-text;
        }
      }
    }
    & button {
      width: fit-content;
      @media (max-width:1007px) {
        width: 100%;
      }
    }
    & .images-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      @media (max-width:1007px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width:600px) {
        grid-template-columns: repeat(1, 1fr);
      }
      &--grap {
        border-radius: 8px;
        overflow: hidden;
        aspect-ratio: 1/2;
        width: 100%;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
