
//Components

@import "./components/avatar";
@import "./components/button";

//Maqeuta

@import "./variables";
@import "./cads";
@import "./mixin";
@import "./placeholder";

html {
  main {
    width: 100%;
    display: flex;
    justify-content: center;
    section {
      max-width: 1200px;
      margin-top: 70px;
      width: 100%;
      @extend %regularPadding;
      box-sizing: border-box;
    }
  }
}
