@import './variables';

%module {
  width: 100%;
  height: -webkit-fill-available;
  overflow-y: auto;
  & main {
    display: flex;
    flex-direction: column;
  }
}

%regularPadding {
  padding: $bigPadding;
  @media (max-width:1007px) {
    padding: $smallPadding;
  }
}
