@import './variables';

%module {
  width: 100%;
  height: -webkit-fill-available;
  overflow-y: auto;
  & main {
    display: flex;
    flex-direction: column;
  }
}

%regularPadding {
  padding-left: $bigPadding !important;
  padding-right: $bigPadding !important;
  @media (max-width:1007px) {
    padding-left: $smallPadding !important;
    padding-right: $smallPadding !important;
  }
}
