<mat-sidenav-container
  class="example-container"
  [hasBackdrop]="hasBackdrop.value"
>
  <mat-sidenav-content
    ><main class="surface">
      <section>
        <h1>Productos</h1>
        <button mat-raised-button (click)="sidenav.toggle()">
          Crear producto
        </button>
      </section>

      <section>
        <table mat-table [dataSource]="products" class="">
          <mat-text-column name="title" headerText="Título"></mat-text-column>

          <mat-text-column
            name="description"
            headerText="Descripción"
          ></mat-text-column>
          <mat-text-column
            name="price"
            justify="end"
            headerText="Precio"
          ></mat-text-column>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </section>
    </main>
  </mat-sidenav-content>

  <mat-sidenav #sidenav [mode]="mode.value!" [position]="position.value!">
    <div class="close">
      <h3>Crear producto</h3>
      <button (click)="sidenav.toggle()" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <app-create-product></app-create-product>
  </mat-sidenav>
</mat-sidenav-container>
